
h1 {color: rgb(38, 41, 218)}
h2 { color:white }
h3{
    margin-bottom: 10px;
}

body{
    background-color: rgb(238, 122, 122);
}

p{
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Barra superior */

.header {
    width: 100%;
    background-color: #131921;
    padding: 10px 20px;
}

/* Menú */

.menu {
    display: flex; /* Mirar cómo va lo del display flex exactamente */
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0px;

    /* max-width: 1000px;
    background-color: green; */
}

/* Botones */

.item{
    flex: 1;
    text-align: center;
    margin: 0 10px;
    padding: 12px 0; /* Primer valor: arriba-abajo. Segundo: Izquierda-derecha */
    background-color: #232f3e;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.25s ease;
}

.item:hover {
    background-color: red;
    transform: translateY(-7px);

}

.item:active {
    transform: translateY(0px);
}
