
h1 {color: rgb(38, 41, 218)}
h2 { color:white }
h3{
    margin-bottom: 10px;
}

body{
    background-color: rgb(238, 122, 122);
}

p{
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    width: 100%;
    background-color: #131921;
    padding: 10px 20px;
}
